$theme-colors: (
  "primary": rgba(3, 166, 120, 1),
  "secondary": #f5f3fa,
  dark: rgb(22,21,34),
  darken:rgb(29, 34, 44),
gray: rgb(155, 155, 155),
  "gray-dark": rgb(32,34,49),
  danger: rgb(210, 77, 87),
  light:rgb(240, 239, 248)


);

$border-radius:19px;

@import '~bootstrap/scss/bootstrap';

.form-control {
  font-size: 1.5rem;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-w-0{
  min-width: 0;
}

.text-black{
  color: #000;
}

.bg-lightest{
  background-color: rgba(252, 251, 254, 1);

}

.bg-light-gray{
  background-color: rgba(244, 244, 244, 1);

}

.flex-auto{
  flex: 1 1 auto;
}

.my-6{
  margin: 56px 0;
}
